.BlogDetail_Container {
  width: 100%;
}

.BlogDetail_Title_Container {
  padding: 5rem 0;
}

.BlogDetail_Title_IM_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.BlogDetail_Title_Info {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.BlogDetail_Title_Manage {
  display: flex;
  justify-content: space-between;
  width: 5%;
}

.BlogDetail_Body_Container {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--hr-500);
}

.BlogDetail_Comment_Container {
  margin-top: 2rem;
}
/* Comment */
.Comment_Container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.Comment_Manage_Container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

svg {
  color: var(--fc-500);
  font-size: var(--font-md);
  margin-left: 0.5rem;
  cursor: pointer;
}
