.Blog_Detail_Container {
  width: 100%;
}

.Blog_Detail_Title_Container {
  padding: 5rem 0;
}

.Blog_Detail_Title_IM_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.Blog_Detail_Title_Info {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.Blog_Detail_Title_Manage {
  display: flex;
  justify-content: space-between;
  width: 5%;
}

.Blog_Detail_Body_Container {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--hr-500);
}

.Blog_Detail_Comment_Container {
  margin-top: 2rem;
  padding-bottom: 10rem;
}

.Pencil_icon:hover,
.Delete_icon:hover {
  color: var(--fc-400);
}

.Blog_Detail_Like_Container {
  display: flex;
  justify-content: flex-end;
}

.Blog_Detail_Like_Container > svg {
  font-size: var(--font-xxl);
  color: var(--blue-300);
}

/* AddComment */
.AddComment_Container {
  width: 100%;
  margin: 1.5rem 0;
}

.AddComment_Btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Comment */
.Comment_Wrapper {
  border-bottom: 1px solid var(--fc-500);
  padding: 1rem 0;
}

.Comment_Box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Comment_Profile_Container {
  display: flex;
  align-items: center;
}

.Comment_Manage_Container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Comment_Manage_Container svg {
  color: var(--fc-500);
  font-size: var(--font-md);
  margin-left: 0.5rem;
  cursor: pointer;
}

.Comment_Content_Container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  word-break: break-all;
}

.Comment_Input_Container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.isReComment_Btn {
  width: 70px;
  font-size: var(--font-sm);
  background-color: transparent;
}

.isReComment_Btn:hover {
  color: var(--fc-400);
}

/* ReComment */
.ReComment_Container {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}
