.Home_Wrapper {
  display: flex;
  width: 100%;
}

.Home_Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
}

.Home_Sort_Container {
  display: flex;
  justify-content: space-between;
  width: 15%;
}