.Home_Wrapper {
  display: flex;
  width: 100%;
}

.Home_Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 3em 0;
}

.HomeSort_Container {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.Home_BlogList_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 3em;
}
