.Search_Wrapper {
  display: flex;
  width: 100%;
}

.Search_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SearchInput_Container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3em;
}

.SearchInput {
  width: 50%;
  min-height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--fc-500);
  padding-left: 3em;
  outline: none;
  font-size: var(--font-md);
}

input::-webkit-input-placeholder {
  font-size: var(--font-md);
}

.Search_icon {
  position: relative;
  top: 0.3em;
  left: 1em;
  font-size: var(--font-xxl);
  color: var(--fc-500);
}

.SearchResult_Container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}