.NickName_Dubble_Check{
  height: 44px;
  position: relative;
  bottom: 44px;
  left: 552px;
  background-color: white;
  border: 1px solid gray;
  border-top-right-radius: var(--br-m);
  border-bottom-right-radius: var(--br-m);
  font-weight: var(--fw-bold);
}