.Category_Name{
  font-size: var(--font-base);
  background-color: none;
}

.Category_List{
  display: flex;
  align-items: center;
}

.Folder_Icon{
  font-size: var(--font-md);
  margin-right: 8px;
}

.Category_Title_Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Category_Title{
  display: flex;
}

.Category_Folder_Icon{
  margin-top: 2px;
  margin-right: 8px;
}

.Category_Title_Container{
  margin-bottom: 10px;
}

.Category_Edit_Pen{
  margin-right: 84px;
  margin-bottom: 7px;
}

.Category_Add_Input{
  height: 22px;
  border: 1px solid gray;
  /* border-radius: 3px; */
  border-right: none;
  width: 140px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Category_Submit_Button{
  border: 1px solid gray;
  height: 22px;
  background-color: white;
  border-left: none;
  padding-right: 2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Category_Add_Container{
  display: flex;
  margin-top: 10px;
}

.Add_Folder_Icon{
  margin-right: 8px;
  margin-top: 4px;
}