.Member_Profile_Image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  border: 1px solid #d0d7de;
}

.Member_Profile_Content {
  display: flex;
  flex-direction: column;
}

.Member_Profile_NickName {
  margin-top: 20px;
}

.Member_Profile_Edit {
  font-size: 25px;
  height: 25px;
  position: relative;
  top: 20px;
  left: 80px;
}

.Member_Edit_Input {
  height: 30px;
  margin-top: 10px;
  font-weight: var(--fw-bold);
  border: 1px solid gray;
  border-radius: 5px;
}

.Member_Label {
  margin-top: 10px;
  font-size: var(--font-sm);
}

.Plus_Container {
  height: 0px;
}
