.Member_Profile_Image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.Member_Profile_Content{
  margin-top: 20px;
}

.Member_Profile_NickName{
  margin-top: 20px;
}

.Member_Profile_Edit{
  font-size:25px;
  position: relative;
  top: 10px;
  left: 93px;
}