.Header_Wrapper {
  width: 1680px;
  height: 60px;
  border-bottom: 1px solid rgb(206, 206, 206);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
}

.Header_Container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_LogoContainer {
  width: 120px;
  height: 47px;
}

.Header_ManageContainer {
  width: 18%;
  display: flex;
  align-items: center;
}

.Header_NickName_Container {
  width: 70px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

.isLogin {
  width: 20%;
}

.icon {
  color: var(--fc-500);
  font-size: var(--font-xxl);
  cursor: pointer;
  margin-right: 15px;
}

.icon:hover {
  color: var(--fc-hv-500);
}

.Header_Login_SignUp_Container {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
}

.btn:hover {
  color: var(--fc-hv-500);
}

@media (max-width: 1024px) {
  .Header_Wrapper {
    width: 1024px;
  }

  .Header_Container {
    width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .Header_Wrapper {
    width: 1440px;
  }
}

@media screen and (min-width: 1680px) {
  .Header_Wrapper {
    width: 1680px;
  }
}

@media screen and (min-width: 1920px) {
  .Header_Wrapper {
    width: 1920px;
  }
}

@media screen and (min-width: 2560px) {
  .Header_Wrapper {
    width: 2560px;
  }
}
