.BlogPost_Wrapper {
  width: 300px;
  height: 400px;
  background-color: var(--blue-500);
  border-radius: var(--br-m);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease;
  margin-right: 1em;
  margin-bottom: 3em;
}

.BlogPost_Wrapper:hover {
  transform: scale(1.01);
}

.BlogPost_Container {
  width: 100%;
  height: 100%;
}

.BlogPostImage_Container {
  width: 100%;
  height: 50%;
  border-top-left-radius: var(--br-m);
  border-top-right-radius: var(--br-m);
  cursor: pointer;
}

.BlogPostImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--br-m);
  border-top-right-radius: var(--br-m);
}

.BlogPostBody_Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  padding: 5px 7px;
}

.BlogPostInfo_Container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BlogPostWriter_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: white;
  padding: 5px 7px;
  border-bottom-left-radius: var(--br-m);
  border-bottom-right-radius: var(--br-m);
}
