* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bc-300);
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

input {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--fc-500);
}
