body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue-500: #365789;
  --blue-400: #2d7df5;
  --blue-300: #4489f1;
  --blue-200: #499fef;
  --blue-100: #619bf2;
  --blue-hv-400: #2762bc;
  --blue-hv-300: #3a6ebe;
  --blue-hv-200: #3a88d1;
  --blue-hv-100: #477ac8;
  --fc-500: #555555;
  --fc-300: #ffffff;
  --fc-hv-500: #9f9f9f;
  --fc-hv-300: #e9e9e9;
  --bc-300: #ebebeb;
  --font-xxs: 0.5rem;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-md: 1.125rem;
  --font-lg: 1.25rem;
  --font-xl: 1.375rem;
  --font-xxl: 1.875rem;
  --font-xxxl: 2.125rem;
  --fw-small: 400;
  --fw-midium: 500;
  --fw-bold: 700;
  --br-s: 5px;
  --br-m: 10px;
  --br-l: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  cursor: pointer;
}

li {
  text-decoration: none;
}

input {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--fc-500);
}
